In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_json("lessons_pd.json")
df.head(1000)

,date,start,end,subject,class,teacher,classroom
0,05/12,790,870,Линейная алгебра и аналитическая геометрия,DHT-1-20,Елена Бурова,LAB1
1,05/12,790,870,Линейная алгебра и аналитическая геометрия,DHT-2-20,Елена Бурова,LAB1
2,05/12,790,870,Линейная алгебра и аналитическая геометрия,EHI-1-20,Елена Бурова,LAB1
3,05/12,790,870,Линейная алгебра и аналитическая геометрия,SEST-1-20,Елена Бурова,LAB1
4,05/12,790,870,Линейная алгебра и аналитическая геометрия,SFHT-1-20,Елена Бурова,LAB1
...,...,...,...,...,...,...,...
995,29/11,700,780,Иностранный язык,MIX-1-22,Наталья Цуканова,C5
996,29/11,700,780,Иностранный язык,SEST-3-22,Гульмира Молдомусаева,C8
997,29/11,700,780,Иностранный язык,MIX-1-22,Гульмира Молдомусаева,C8
998,29/11,790,870,География,SEST-3-22,Чолпон Джусупова,C5
999,29/11,880,960,Кыргызский язык продвинутый уровень,SEST-3-22,Бурул Шамбаева,C5

In [84]:
import datetime
all_cabs = set(df["classroom"].unique())-{None}
cabs = {cab for cab in all_cabs if not cab.isdigit() and cab[0] != "G"}
def time(hours, minutes):
    return hours*60+minutes
def to_time(entry):
    return entry["start"]
def then(df, date, time):
    return df[(df["date"] == date) & (df["start"]<=time) & (df["end"]>=time)]
def now(df):
    today = datetime.datetime.now()
    return then(df, f"{today.day}/{today.month}", time(today.hour, today.minute))
def where_will(df, teacher, date):
    return df[df["teacher"] == teacher][df["date"] == date]
def where(df, teacher):
    today = datetime.datetime.now()
    return where_will(df, teacher, f"{today.day}/{today.month}")

In [96]:
auditories = cabs - set(now(df)["classroom"])

# def free_auditories():
#     auditories = []
#     for i in cabs:
#         auditories.append(i)
#     print(*auditories)
#     return auditories

# auditories = free_auditories()

with open("file.txt",'w',encoding="utf-8") as f:
    for cab in auditories:
        f.write(cab+" ")
    f.close()
# set(now(df)["classroom"])

# df[df["date"]]
auditories

{'C1', 'C10', 'C3', 'C4', 'C7', 'C8', 'C9', 'CH', 'LAB2', 'MR'}